.theme-g .slide {
  backface-visibility: hidden;
  transform-origin: right center;
}

.theme-g .slide:not(.show):not(.hide) {
  left: 20%;
  transform: rotateY(-100deg);
}

.theme-g .slide.show {
  left: 0;
  transform: rotateY(0deg);
  transition: 1.7s ease;
}

.theme-g .slide.hide {
  left: -20%;
  transform-origin: left center;
  transform: rotateY(90deg);
  transition: 1.2s ease;
}

.theme-g .caption {
  display: none;
}