.theme-g .slide {
  backface-visibility: hidden;
  transform-origin: left right;
}

.theme-g .slide:not(.show):not(.hide) {
  transform: scale(0.75) translateX(110%) rotateY(-75deg);
}

.theme-g .slide.show {
  transform: translateX(0) rotateY(0deg);
  transition: transform 1.2s ease-out;
}

.theme-g .slide.hide {
  transform: scale(0.8) translateX(-100%) rotateY(90deg);
  transition: 1.2s ease-out;
}